.course-page-main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;

}
.cover-page {
    position: relative;
}
.centre-body{
    /* margin-right: auto;margin-left: 20px; */
}
