.card-container {
    width: 300px;
    overflow: hidden;
    display: inline;
    height: 500px;
    margin: 5px;
}
.image-container img {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    display: block;
    height: 200px;
}
.image-container {
    border: 1px solid black;
}
.card-content {
    margin-top: 0.5rem;
}
.stars-list {
    list-style: none;
    display: flex;
    margin-left: 0;
    padding-left: 0;
    padding-top: 0;
}
.price{
    display: flex;
}
.currentPrice{
    margin-right: 10px;
    margin-top: 5px;
}
.rate-container {
    display: flex;
    margin-top: 10px;
}
.star-icon {
    color: rgb(248, 123, 6);
}
.rating-value {
    color: rgb(110, 44, 0);
    margin-right: 3px;
}
.pepole {
    margin: 5px;
}
h3,
h6,h4 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: Helvetica, Arial, sans-serif, symbol;
}
.card-title {
    margin-bottom: 0.5rem;
}
